# Dependências Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binários locais do PostgreSQL
pgsql/
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Variáveis de ambiente
.env
.env.local
